.circleindicator-container  {	
	circleindicator-color: #4A3CAB;
	-fx-padding: 5.0;
	-fx-background-color: #2F384B;
}
.circleindicator-container > .circleindicator-label {
	-fx-font-weight: bold; 
 	-fx-font-size: 2.5em;
	-fx-text-fill: circleindicator-color;
	-fx-padding: 5.0;
}