.root {
    -fx-hgap: 20px;
    -fx-padding: 40px;

    -fx-background-color: white;
    -fx-background-radius: 50px;

    -fx-border-radius: 50px;
    -fx-border-width: 5px;
}

.todo-pane {
	-fx-tab-max-height: 0 ;
	-fx-hgap: 20px;
    -fx-padding: 40px;

    -fx-background-color: #4A3CAB;
    -fx-background-radius: 20px;

    -fx-border-radius: 50px;
    -fx-border-width: 5px;
}

.pane {
	-fx-background-color: #4A3CAB;
	-fx-background-radius: 0px;
}

.pane-box-small {
	-fx-background-color: #4A3CAB;
	-fx-background-radius: 20px;
}

.pane-box-big {
	-fx-background-color: #C0EFFF;
	-fx-background-radius: 20px;
}

/* Button layout */
.btn-default {
	-fx-background-color: #4A3CAB;
	-fx-background-radius: 20;
}

.btn-default:hover {
	-fx-background-color:#F26157;
	-fx-background-radius:15px;
	-fx-display:inline-block;
	-fx-cursor:pointer;
	-fx-color:#ffffff;
	-fx-text-decoration:none;
}

.btn-default:pressed  {
	-fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btn_menu {
	-fx-background-color:transparent;
	-fx-text-fill:white;
	-fx-font-size:14px;
	-fx-padding:16px 44px;
	-fx-font-weight : bold ;
}

.btn_menu:hover {
	-fx-background-color:orange;
	-fx-background-radius:15px;
	-fx-display:inline-block;
	-fx-cursor:pointer;
	-fx-color:#ffffff;
	-fx-font-size:17px;
	-fx-padding:16px 16px;
	-fx-text-decoration:none;
}
.btn_menu:active {
	-fx-position:relative;
	-fx-top:1px;
}

.btn_menu:pressed  {
	-fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
	-fx-background-color:#F26157;
}

.btn-stats {
	-fx-border-color: white;
	-fx-background-color: #2F384B;
	-fx-background-radius: 5;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	
}

.btn-stats:hover {
	-fx-border-color: transparent;
	-fx-text-fill: black;
	-fx-background-color:orange;
	-fx-display:inline-block;
	-fx-cursor:pointer;
	-fx-color:#ffffff;
	-fx-padding:16px 16px;
	-fx-text-decoration:none;
}

.btn-stats:pressed  {
	-fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
	-fx-text-fill: white;
	-fx-background-color: #F26157;
}

.btn-type1 {
	-fx-background-color:  #E07400;
	-fx-background-radius: 5;
}

.btn-type1:hover {
	-fx-font-weight: bold;
	-fx-background-radius: 50;
	-fx-background-color: #F26157;
	-fx-background-radius:15px;
	-fx-display:inline-block;
	-fx-font-size:15px;
	-fx-cursor:pointer;
	-fx-color:#ffffff;
	-fx-text-decoration:none;
}

.btn-type1:pressed  {
	-fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btn-type2 {
	-fx-background-color: #604F92;
	-fx-background-radius: 20;
}

.btn-type2:hover {
	-fx-background-color:#F26157;
	-fx-background-radius:15px;
	-fx-display:inline-block;
	-fx-cursor:pointer;
	-fx-color:#ffffff;
	-fx-text-decoration:none;
}

.btn-type2:pressed  {
	-fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btn-type3 {
	-fx-background-color: #4F345A;
	-fx-background-radius: 50;
}

.btn-type3:hover {
	-fx-background-color:#F26157;
	-fx-background-radius:15px;
	-fx-display:inline-block;
	-fx-cursor:pointer;
	-fx-color:#ffffff;
	-fx-text-decoration:none;
}

.btn-type3:pressed  {
	-fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btn-blocklists {
	-fx-background-color: #DDDDDD;
	-fx-background-radius: 20;
}

.btn-blocklists:hover {
	-fx-font-weight : bold;
	-fx-background-radius:5px;
	-fx-display:inline-block;
	-fx-cursor:pointer;
	-fx-color:#ffffff;
	-fx-text-decoration:none;
}

.btn-blocklists:pressed  {
	-fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

/* Tab pane styling */

.tab-pane {
	-fx-tab-max-height: 0 ;
	-fx-hgap: 20px;
    -fx-padding: 40px;

    -fx-background-color: white;
    -fx-background-radius: 50px;

    -fx-border-radius: 50px;
    -fx-border-width: 5px;
}

.tab-pane .tab-header-area {
    visibility: hidden ;
	-fx-border-width: 5px;
}

.tab-pane-main {
	-fx-tab-max-height: 50 ;
    -fx-padding: 20px;

    -fx-background-color:  #433b80;
    -fx-background-radius: 50px;

    -fx-border-radius: 50px;
    -fx-border-width: 5px;
}

.tab-pane-main .tab-header-area {
    visibility: visible ;
}

.tab-two{
    -fx-background-color: derive(#4A3CAB, 10%);
	-fx-pref-width: 125;
}

.tab-two .tab-label{
    -fx-text-fill: white;
    -fx-font-size: 10pt; 
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: white;

}

.tab-pane .tab:selected
{
    -fx-background-color: #4A3CAB;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

/*TableView Default*/

.table-view{
    -fx-background-color: #433b80;
    -fx-font-size: 16px; 
}


.table-row-cell {
    -fx-cell-size: 40px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill:  white;
}
.table-view .column-header {
    -fx-background-color:  #4A3CAB;
}
.table-view .table-cell{
    -fx-text-fill: white;
}

.table-view .arrow {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: " ";
}


.table-column{
    -fx-alignment: CENTER;  
}
.table-row-cell:even{
    -fx-background-color: derive(blue, 10%);
}
.table-row-cell:selected {
    -fx-background-color: orange;
    -fx-text-fill: black;
    -fx-background-insets: 0;
}

.placeholder .label{
    -fx-text-fill: white;
}

/* ComboBox Style */
.combo-box .cell{
    -fx-text-fill: black;
}

/* ComboBox 2 Style */
.combo-box-settings .cell{
    -fx-text-fill: white;
}
